* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  color: rgb(118, 15, 92);
}
header {
width: max;
height: 100px;
background-color: rgb(11, 11, 67);
color: blue;
position: top;
text-align: center;
}
main {
  background-color: rgb(18, 88, 118);
  margin: 0;
  padding: 3em;
}
h2 {
  line-height: 2;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: var(height);
  width: var(width);
  min-width: 600;
  padding: 2em;
}
.center {
 display: flex;
 justify-content: space-around;
 align-items: center;
 text-align: center;
 min
}
.padding {
  padding-top: 1.5em;
}
.footer {
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(118, 15, 92);
  background-color: rgb(11, 11, 67)
}